{% if post.thumbnail %}
  {% set image = Image(post.thumbnail) %}
  {% set img_id = image.id %}
  {% set image_class = ' background-image--' ~ img_id %}
{% else %}
  {% set image_class = ' background-image--default' %}
{% endif %}
<style>
  {{ '.background-image--' ~ img_id }} {
    background-image: url('{{ image.src|resize(550)  }}');
  }
  @media(min-width: 550px) {
    {{ '.background-image--' ~ img_id }} {
      background-image: url('{{ image.src|resize(1200)  }}');
    }
  }
  @media(min-width: 1200px) {
    {{ '.background-image--' ~ img_id }} {
      background-image: url('{{ image.src|resize(1500)  }}');
    }
  }
  @media(min-width: 1500px) {
    {{ '.background-image--' ~ img_id }} {
      background-image: url('{{ image.src|resize(1800)  }}');
    }
  }
</style>
<section class="section section__hero background--cover{{ image_class }}">
  <div class="section__hero-inner spacing">
    {% if post.kicker %}
      <div class="kicker font--primary--s color--white">{{ post.kicker }}</div>
      <hr class="divider background-color--white" />
    {% endif %}
    <h1 class="section__hero-title font--secondary--xl color--white">{% include "00-atoms/text/title.twig" %}</h1>
    {% if is_main_site %}
      <section class="rw-wrapper">
        <div class="rw-words">
          <span class="font--primary--m color--white">websites that kick ass</span>
          <span class="font--primary--m color--white">logos that mean something</span>
          <span class="font--primary--m color--white">brands to stand out from the crowd</span>
          <span class="font--primary--m color--white">messaging that tells a story</span>
          <span class="font--primary--m color--white">print that makes people take notice</span>
        </div>
      </section>
    {% endif %}
    {% if post.intro %}
      <div class="section__hero-excerpt color--white">{{ post.intro }}</div>
    {% endif %}
  </div>
</section>
