{% if heading.level and heading.text %}
  {% set heading_base_class = heading.base_class|default('o-heading') %}

  <h{{ heading.level }} class="{{ heading.type and heading.size ? heading_base_class ~ ' ' : '' }}{{ bem_classes(heading_base_class, heading.type, heading.size, heading.extra) }}">
    {% if heading.link %}
      <a class="{{ bem_classes(heading_base_class, 'link') }}" href="{{ heading.link.url }}" {{ add_attributes(heading.link.attributes) }}>
        {{ heading.text }}
      </a>
    {% else %}
      {{ heading.text }}
    {% endif %}
  </h{{ heading.level }}>
{% endif %}
