<div class="grid-item">
  <div class="block block__post block__{{ post.post_type }} background-color--white">
    <a href="{{ post.link }}" class="block__link spacing">
      {% if post.thumbnail %}
        {% set image = Image(post.thumbnail) %}
        <picture class="block__thumb">
          <img src="{{ image.src|resize(600,600) }}" alt="{{ image.alt }}">
        </picture>
      {% endif %}
      <div class="block__content spacing--half">
        <div class="block__kicker">
          {% if post.post_type == 'work' %}
            {% include "00-atoms/text/kicker.twig" with { kicker: "Work" } %}
          {% else %}
            {% if post.category() %}
              {% include "00-atoms/text/kicker.twig" with { kicker: post.category() } %}
            {% endif %}
          {% endif %}
        </div>
        <div class="block__title font--primary--m color--black">
          {{ post.title }}
        </div>
        <div class="block__meta">
          {% if post.post_type == 'work' %}
            {% include "00-atoms/text/tags.twig" %}
          {% elseif post.post_type == 'post' %}
            {% include "00-atoms/text/entry-meta.twig" %}
          {% endif %}
        </div>
      </div>
    </a>
    <div class="block__toolbar">
      <div class="block__toolbar--left">
        <div class="block__toolbar-item block__toolbar-like space--half-right">
          {{ function('wp_ulike','get') }}
        </div>
      </div>
      <div class="block__toolbar--right tooltip">
        <div class="block__toolbar-item block__toolbar-share tooltip-toggle js-toggle-parent">
          <span class="font--primary--xs color--gray">Share</span>
          <span class="icon icon--s space--half-left">{% include "00-atoms/icons/icon--share.twig" %}</span>
        </div>
        {% include "01-molecules/components/share--tooltip.twig" %}
      </div>
    </div>
  </div>
</div>
