{% if post.thumbnail %}
  {% set img_id = Image(post.thumbnail).id %}
  {% set image_class = ' background-image--' ~ img_id %}
  {% set img_src = Image(post.thumbnail).src|resize(900,900) %}
  <style>
    .background-image--{{ img_id }} {
      background-image: url({{ img_src }});
    }
  </style>
{% endif %}
<a href="{{ post.link }}" class="block block__featured background--cover{{ image_class }}">
  <div class="block__content spacing--half">
    <div class="block__kicker font--primary--xs">Featured</div>
    <div class="block__title font--primary--m">
      {{ post.title }}
    </div>
    {% include "00-atoms/text/tags.twig" %}
  <div class="block__button font--primary--xs">View {{ work_category }}</div>
  </div>
</a>
