<head>
  <meta charset="{{site.charset}}" />
  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{ site.pingback_url }}" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="//www.googletagmanager.com/gtag/js?id=UA-31544419-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-31544419-1');
  </script>
  <!-- Adsense -->
  <script data-ad-client="ca-pub-3133257559155527" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {% if options.favicon %}
    <link rel="shortcut icon" href="{{ Image(options.favicon).src|resize(30,30) }}" />
  {% endif %}
  {{ function('wp_head') }}
  <style type="text/css">
    :root {
      --c-primary: {{ options.primary_color }};
      --c-secondary: {{ options.secondary_color }};
    }
  </style>
</head>