{% if meta.author.name or meta.date %}
  {% set base_class = meta.base_class|default('o-meta') %}

  {% if meta.image.src and meta.modifiers %}
    {% set meta_modifiers = [meta.modifiers]|merge(['with-image']) %}
  {% elseif meta.image.src %}
    {% set meta_modifiers = ['with-image'] %}
  {% endif %}

  <div class="{{ bem_classes(base_class, meta.element, meta_modifiers, meta.extra) }}">
    {% if meta.image.src %}
      {% if meta.author.link %}
        <a href="{{ meta.author.link }}" class="{{ bem_classes(base_class, 'image-link') }}">
      {% endif %}
        <div class="{{ bem_classes(base_class, 'image') }}">
          {% include "@atoms/images/image/responsive-image.twig" with meta %}
        </div>
      {% if meta.author.link %}
        </a>
      {% endif %}
    {% endif %}
    {% if meta.author %}
      {% if meta.author.link %}
        <a href="{{ meta.author.link }}" class="{{ bem_classes(base_class, 'link') }}">
      {% endif %}
      {% if meta.author.name %}
        <span itemprop="author" itemtype="https://schema.org/Person" class="{{ bem_classes(base_class, 'author') }}" >
          <strong>{{ meta.author.name }}</strong>
        </span>
      {% endif %}
      {% if meta.author.link %}
        </a>
      {% endif %}
    {% endif %}
    {% include "@atoms/hr/hr.twig" with meta %}
    {% if meta.date %}
      <time datetime="{{ meta.date|date('m.d.y') }}" class="{{ bem_classes(base_class, 'date', meta.date.modifiers, meta.date.extra) }}" >{{ meta.date|date('m.d.y') }}</time>
    {% endif %}
  </div>
{% endif %}
