<div class="block block__latest">
  <a href="{{ post.link }}" class="block__link">
    {% if post.thumbnail %}
      <picture class="block__thumb space--right">
        <img src="{{ Image(post.thumbnail).src|resize(600,450) }}" alt="{{ Image(post.thumbnail).alt }}">
      </picture>
    {% endif %}
    <div class="block__content">
      <div class="block__title font--primary--xs">
        {{ post.title }}
      </div>
      <div class="block__meta color--gray">
        {{ include "00-atoms/text/entry-meta.twig" }}
      </div>
    </div>
  </a>
</div>