<div class="grid-item">
  {#@php
    post.post_id = get_the_ID();
    post.title = get_the_title(post.post_id);
    post.thumb_id = get_post_thumbnail_id(post.post_id);
    post.thumb_size = 'square';
    post.link = get_permalink(post.post_id);
    post.post_type = get_post_type(post.post_id);
    if (get_the_excerpt() != '') {
      post.excerpt = get_the_excerpt('',FALSE,'');
    } else {
      post.excerpt = wp_trim_words(get_the_content('',FALSE,''), 100, '...');
    }
    if (post.post_type == 'affiliate') {
      if (get_the_terms(post.post_id, 'store')) {
        post.tags = get_the_terms(post.post_id, 'store');
        post.kicker = post.tags[0]->name;
      } else {
        post.kicker = NULL;
      }
      post.date = NULL;
      post.tags = NULL;
    } else if (post.post_type == 'work') {
      post.kicker = NULL;
      post.date = NULL;
      post.tags = strip_tags(get_the_tag_list('',', ',''));
    } else {
      post.kicker = get_the_category(post.post_id)[0]->name;
      post.date = date('F j, Y', strtotime(get_the_date()));
    }
    post.image_small = wp_get_attachment_image_src(post.thumb_id, post.thumb_size . '--s')[0];
    post.image_medium = wp_get_attachment_image_src(post.thumb_id, post.thumb_size . '--m')[0];
    post.alt = get_post_meta(post.thumb_id, '_wp_attachment_image_alt', true);
  @endphp
  #}
  <div class="block block__post background-color--white">
    <a href="{{ post.link }}" class="block__link spacing">
      {% if post.thumb_id %}
        <picture class="block__thumb">
          <source srcset="{{ post.image_medium }}" media="(min-width:500px)">
          <img src="{{ post.image_small }}" alt="{{ post.alt }}">
        </picture>
      {% endif %}
      <div class="block__content spacing--half">
        {% if post.kicker %}
          <div class="block__kicker font--primary--xs color--gray">
            {{ post.kicker }}
          </div>
        {% endif %}
        <div class="block__title font--primary--m color--black">
          {{ post.title }}
        </div>
        {% if post.tags %}
          <div class="block__meta color--gray">
            <span class="color--gray font--s">{{ post.tags }}</span>
          </div>
        {% endif %}
        {% if post.date %}
          <div class="block__meta color--gray">
            {{ include "00-atoms/text/entry-meta.twig" }}
          </div>
        {% endif %}
      </div>
    </a>
    <div class="block__toolbar">
      <div class="block__toolbar--left">
        {% if (comments_open()) %}
          <a href="{{ post.link }}#comments" class="block__toolbar-item block__toolbar-comment space--half-right">
            <span class="icon icon--s space--half-right">{% include "00-atoms/icons/icon--comment.twig" %}</span>
            <span class="font--sans-serif font--sans-serif--small color--gray">
              {{ comments_number('0', '1', '%') }}
            </span>
          </a>
        {% endif %}
        <div class="block__toolbar-item block__toolbar-like space--half-right">
          {% if function_exists('wp_ulike') %}
            {{ wp_ulike('get') }}
          {% endif %}
        </div>
      </div>
      <div class="block__toolbar--right tooltip">
        <div class="block__toolbar-item block__toolbar-share tooltip-toggle js-toggle-parent">
          <span class="font--primary--xs color--gray">Share</span>
          <span class="icon icon--s space--half-left">{% include "00-atoms/icons/icon--share.twig" %}</span>
        </div>
        {% include "01-molecules/components/share-tooltip.twig" %}
      </div>
    </div>
  </div>
</div>
