<footer class="footer background-color--secondary color--white">
  <div class="footer--inner layout-container spacing--double">
    <div class="footer__row footer__row--top grid grid--50-50">
      <div class="grid-item footer--left spacing--double">
        {% if footer_nav_col_1.theme_location == "footer_nav_col_1" or footer_nav_col_2.theme_location == "footer_nav_col_2" %}
          <div class="footer__nav">
            {% if footer_nav_col_1.theme_location == "footer_nav_col_1" %}
              <div class="footer__nav-col">
                {% for item in footer_nav_col_1.items %}
                  <a class="footer__nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
            {% if footer_nav_col_2.theme_location == "footer_nav_col_2" %}
              <div class="footer__nav-col">
                <span class="color--gray font--primary--xs">Shop</span>
                {% for item in footer_nav_col_2.items %}
                  <a class="footer__nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if options.mailchimp_url %}
          <div class="footer__mailing">
            <h3 class="color--gray font--primary--xs">Join the mailing list</h3>
            {% include "01-molecules/forms/form--newsletter.twig" %}
          </div>
        {% endif %}
      </div>
      <div class="grid-item footer--right">
        <div class="footer__posts">
          {% include "01-molecules/components/feed--latest.twig" %}
        </div>
        <div class="footer__ads">
          {% include "01-molecules/ads/ad--rectangle.twig" %}
        </div>
      </div>
    </div>
    <div class="footer__row footer__row--bottom">
      <div class="footer__copyright">
        <a class="font--primary--xs space--half-right" href="/privacy-policy">Privacy Policy</a>
        <span class="font--primary--xs font-weight--400">© {{"now"|date('Y')}} {{ site.title }} | All Rights Reserved.</span>
      </div>
      <div class="footer__social">
        <span class="color--gray font--primary--xs space--half-right">Follow Me</span>
        {% include "01-molecules/components/social-links.twig" %}
      </div>
    </div>
  </div>
  <a href="#top" class="footer__top font--primary--xs">
    To Top <span class="icon icon--l space--half-left path-fill--white">{% include "00-atoms/icons/arrow--cta--long.twig" %}</span>
  </a>
</footer>
