{% set featured_banner_image = Image(post.featured_banner_image) %}
{% set featured_work_image = Image(post.featured_work_image) %}
{% if post.featured_banner_image %}
  <section class="section section__hero background--cover background-image--{{ featured_banner_image.id }} image-overlay">
    <style>
      .background-image--{{ featured_banner_image.id }} {
        background-image: url({{ featured_banner_image.src|resize('800') }});
      }
      @media (min-width: 800px) {
        .background-image--{{ featured_banner_image.id }} {
          background-image: url({{ featured_banner_image.src|resize('1100') }});
        }
      }
      @media (min-width: 1100px) {
        .background-image--{{ featured_banner_image.id }} {
          background-image: url({{ featured_banner_image.src|resize('1600') }});
        }
      }
    </style>
  </section>
{% endif %}
<section class="section section__main">
  <div class="layout-container section__main--inner">
    <article class="article spacing--double">
      <div class="article__header spacing text-align--center narrow narrow--m">
        {% if post.terms('tags') %}
          <h2 class="page-kicker font--primary--s">
            {% for term in post.terms('tags') %}
              <span>{{ term.name }}{% if not loop.last %}, {% endif %}</span>
            {% endfor %}
          </h2>
          <hr class="divider">
        {% endif %}
        <h1 class="page-title">{{ post.title }}</h1>
        {% if post.featured_work_image %}
          <picture class="block__thumb">
            <source srcset="{{ featured_work_image.src|resize(900) }}" media="(min-width:650px)">
            <source srcset="{{ featured_work_image.src|resize(650) }}" media="(min-width:400px)">
            <img src="{{ featured_work_image.src|resize(400) }}" alt="{{ featured_work_image.alt }}">
          </picture>
        {% endif %}
      </div>
      <div class="article__body narrow spacing--double">
        <div class="narrow narrow--s spacing text-align--center">
          <p>{{ post.content }}</p>
          {% if post.website_url %}
            <a href="{{ post.website_url }}" class="btn btn--outline center space--top" target="_blank" rel="noopener">
              View Website
            </a>
          {% endif %}
        </div>
        {% if post.meta('work') %}
          {% for item in post.meta('work') %}
            <div class="work">
              <div class="work-item spacing--double">
                <div class="work-item__title">
                  <span class="font--primary--s">{{ item.work_section_title }}</span>
                </div>
                {% for image in item.work_section_images %}
                {% set image = Image(image) %}
                  <div class="work-item__image">
                    <picture class="work__image">
                      <img src="{{ image.src }}" alt="{{ image.alt }}">
                    </picture>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="article__share-work">
          {% include "01-molecules/components/share--tools.twig" %}
        </div>
      </div> {# ./article__body #}
    </article>
  </div>
</section>
{% include "02-organisms/sections/section--pagination--work.twig" %}
