{% set base_class = 'l-main' %}

{% if layout.extra %}
  {% set layout_extra = [layout.extra]|merge(['l-wrap']) %}
{% else %}
  {% set layout_extra = ['l-wrap l-container--xxl'] %}
{% endif %}

{% if sidebar %}
  {% set layout_extra = layout_extra|merge(["has-sidebar"]) %}
{% endif %}

<style type="text/css">
  :root {
    --c-primary: {{ options.primary_color }};
    --c-secondary: {{ options.secondary_color }};
    --c-tertiary: {{ options.tertiary_color }};
    --c-white: {{ options.white }};
    --c-black: {{ options.black }};

    {% if is_main_site %}
      /* --font-primary: "GT Alpina Fine", Arial, Helvetica, sans-serif;
      --font-secondary: "GT Walsheim Medium", Arial, Helvetica, sans-serif;
      --font-tertiary: "GT Walsheim", Arial, Helvetica, sans-serif; */
      --font-primary: "GT Walsheim", Arial, Helvetica, sans-serif;
      --font-secondary: "Voster", Arial, Helvetica, sans-serif;
      --font-tertiary: "GT Walsheim Medium", Arial, Helvetica, sans-serif;
    {% else %}
      --font-primary: "GT Walsheim", Arial, Helvetica, sans-serif;
      --font-secondary: "Voster", Arial, Helvetica, sans-serif;
      --font-tertiary: "GT Walsheim Medium", Arial, Helvetica, sans-serif;
    {% endif %}
  }
</style>

<html class="no-js no-svg" {{ site.language_attributes }}>
  {% include "@templates/_head.twig" %}
  <body class="body{{ ' ' ~ body_class ~ ' ' ~ body_extra_class }}" data-template="base.twig">
    <a class="skip-link screen-reader-text visually-hidden" href="#content">Skip to content</a>
    {% include "@organisms/global/header/header.twig" %}
    {% block sections_before %}{% endblock %}
    <main role="document" class="{{ bem_classes(base_class, layout.element, layout.modifiers, layout_extra) }}">
      {% block content %}{% endblock %}
      {% block sidebar %}{% endblock %}
    </main>
    {% block sections_after %}{% endblock %}
    {% include "@organisms/global/footer/footer.twig" %}
    {{ function('wp_footer') }}
  </body>
</html>

