{% set newsletter_signup_base_class = newsletter_signup.base_class|default('c-newsletter-signup') %}

{% if options.mailchimp_url %}
  <div class="{{ bem_classes(newsletter_signup_base_class, '', 'footer') }} u-spacing">
    <div class="{{ bem_classes(newsletter_signup_base_class, 'heading') }} u-spacing--half">
      {% include "@atoms/text/heading/heading.twig" with {
        "heading": {
          "level": "3",
          "size": "s",
          "type": "secondary",
          "text": "Get on the list",
          "extra": bem_classes(newsletter_signup_base_class, 'title')
        }
      } %}
      <p>{{ 'Sign up for first dibs on new collections and much more.' }}</p>
    </div>
    <form class="{{ bem_classes(newsletter_signup_base_class, 'form') }}" action="" method="post">
      <form action="{{ options.mailchimp_url }}" method="post" name="mc-embedded-subscribe-form" class="validate u-spacing" target="_blank" rel="noopener" novalidate>
        <input name="EMAIL" type="email" placeholder="Enter email address" name="email"/>
        {% include "@atoms/buttons/button.twig" with {
          "button": {
            "text": "Let's Do This"
          }
        } %}
      </form>
    </form>
  </div>
{% endif %}