{% set newsletter_signup_header_base_class = newsletter_signup_header.base_class|default('c-newsletter-signup') %}

<div class="{{ bem_classes(newsletter_signup_header_base_class, '', 'header') }}" data-js-header-sailthru-form-wrapper>
  <form class="{{ bem_classes(newsletter_signup_header_base_class, 'form') }} js-hide-success" data-js-header-sailthru-form="" action="" method="post">
    <fieldset class="o-fieldset u-spacing">
      <div class="o-form-item__checkbox">
        <input id="checkbox-dispatch" class="form-checkbox" name="dispatch" value="dispatch" type="checkbox" checked />
        <label for="checkbox-dispatch">
          <h4 class="o-heading__secondary--xs">Dispatch</h4>
          <small>Our most popular newsletter, featuring the newest stories on survival, adventure news, book reviews, longreads, and more.</small>
        </label>
      </div>
      <div class="o-form-item__checkbox">
        <input id="checkbox-what-you-missed" class="form-checkbox" name="what_you_missed" value="what_you_missed" type="checkbox" checked />
        <label for="checkbox-what-you-missed">
          <h4 class="o-heading__secondary--xs">What you Missed</h4>
          <small>Subscribe for the top headlines from the outdoor world, in your inbox six days a week.</small>
        </label>
      </div>
    </fieldset>
    <fieldset class="o-fieldset">
      <label class="o-form-item__label is-vishidden" for="o-form-item__email">Enter Email Address</label>
      <input class="o-form-item__email" type="email" placeholder="Enter email address" name="sailthru-email" id="site-header-newletter-email" aria-label="Email Address">
      <input type="hidden" name="sailthru-registration-source" value="navigation_header">
      <input id="header-recaptcha" type="hidden" name="header-recaptcha" value="" />
      <input class="o-form-item__submit" type="submit" name="op" value="Sign Up" />
      <div class="{{ bem_classes(newsletter_signup_header_base_class, 'recaptcha') }} o-small">
        <div class="{{ bem_classes(newsletter_signup_header_base_class, 'error') }} o-small js-nl-signup-error is-hidden"></div>
        <div class="{{ bem_classes(newsletter_signup_header_base_class, 'recaptcha-message') }}">{{ recapthca_message }}</div>
        <div class="{{ bem_classes(newsletter_signup_header_base_class, 'recaptcha-wrap') }}" id="header-recaptcha-div"></div>
      </div>
    </fieldset>
  </form>
  <div class="{{ bem_classes(newsletter_signup_header_base_class, 'success') }} js-nl-signup-success is-hidden">
    Thanks for signing up! Find more newsletters on our <a href="{{ newsletter_link }}">newsletter sign-up page</a>.
  </div>
</div>