{% set base_class = footer_nav.base_class|default('c-footer-nav') %}

{% if footer_nav.name == "Footer Navigation" %}
  <nav role="navigation" class="{{ bem_classes(base_class, footer_nav.element, footer_nav.modifiers, footer_nav.extra) }}">
    {% if footer_nav.items %}
      <ul class="{{ bem_classes(base_class, 'parent-list') }} u-spacing--and-half">
        {% for item in footer_nav.get_items %}
          <li class="{{ bem_classes(base_class, 'parent-list-item') }} u-spacing--half">
            {% include "@atoms/links/link.twig" with {
              "link": {
                "text": item.title,
                "url": item.url,
                "target": item.target,
                "modifiers": "no-shadow",
                "extra": [
                  bem_classes(base_class, 'link'),
                ]|merge(item.classes),
              }
            } %}
            {% if item.children %}
              <ul class="{{ bem_classes(base_class, 'child-list') }} u-spacing--half">
                {% for item in item.children %}
                  <li class="{{ bem_classes(base_class, 'child-list-item') }}">
                    {% include "@atoms/links/link.twig" with {
                      "link": {
                        "text": item.title,
                        "url": item.url,
                        "target": item.target,
                        "modifiers": "no-shadow",
                        "extra": [bem_classes(base_class, 'link')]|merge(item.classes),
                      }
                    } %}
                    </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    {% endif %}
  </nav>
{% endif %}
