<%
	var currentSection = current.path[0];
	var currentSectionData = public[currentSection];
%>
<div class="social-media">
  <a href="https://www.facebook.com/CahillsCreative" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="http://instagram.com/cahillscreative" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
  <a href="http://www.pinterest.com/cahillscreative/" target="_blank" class="pintrest"><i class="fa fa-pinterest"></i></a>
  <a href="/contact" target="_blank" class="email"><i class="fa fa-envelope"></i></a>
</div><!--end of social-media-->

<section class="mobile-nav-wrapper Fixed">
	<div class="row">
		<div class="container-common">
			<nav class="region region-4">
				<a href="<%- uri %>" class="logo">Cahill's Creative</a>
				<a href="#menu" class="trigger"><span></span></a>
			</nav>
		</div>
	</div>
</section>

<div class="row banner">
	<div class="container-common">
		<article>
			<div class="callout">
				<section class="rw-wrapper">
				<span class="rw-sentence">
					<span class="headline">We create...</span>
					<div class="rw-words">
						<span>websites that kick ass</span>
						<span>logos that mean something</span>
						<span>brands to stand out from the crowd</span>
						<span>messaging that tells a story</span>
						<span>print that makes people take notice</span>
					</div>
					<span class="period">.</span>
				</span>
				</section>
				<p>Fresh. Clean. Awesome. Not only is that how I like my laundry, but it’s what I like to create: fresh concepts, clean designs, and completely awesome results.</p>
			</div>
		</article>
		<div style="clear:both;"></div>
	</div>
</div>

<header class="header">
	<div class="branding-wrapper">
		<div class="row branding">
			<div class="container-common">
				<nav class="col-sm-6 nav-left">
					<ul>
						<li><a href="<%- uri %>about.html">About</a></li>
						<li><a href="<%- uri %>work/index.html">Work</a></li>
						<li><a href="<%- uri %>services.html">Services</a></li>
					</ul>
				</nav>

				<a href="<%- uri %>" class="logo"><img src="<%- imagesUri %>logo.png"  alt="Cahill's Creative"/></a>

				<nav class="col-sm-6 nav-right">
					<ul>
						<li><a href="<%- uri %>faqs.html">faqs</a></li>
						<li><a href="<%- uri %>contact.html">Contact</a></li>
						<li><a href="<%- uri %>store.html">Store</a></li>
					</ul>
					<a class="trigger"><span></span></a>
				</nav>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
</header>

<div class="mobile-menu overlay-scale">
	<button type="button" class="overlay-close">Close</button>
	<nav>
		<ul>
			<li><a href="<%- uri %>about.html">About</a></li>
			<li><a href="<%- uri %>work/index.html">Work</a></li>
			<li><a href="<%- uri %>services.html">Services</a></li>
			<li><a href="<%- uri %>faqs.html">FAQs</a></li>
			<li><a href="<%- uri %>contact.html">Contact</a></li>
			<li><a href="<%- uri %>store.html">Store</a></li>
		</ul>
	</nav>
</div>
