<div class="row work-banner" style="background-image: url('<%- imagesUri %><%- imagePath %>bkg.jpg');">
</div><!-- end of row -->


<div class="row work-header">
  <div class="container-common">
    <div class="page-title">
		<h2>
			<% for(var i=0; i<services.length; i++) { %>
				<span><%- services[i] %></span>
			<% } %>
		</h2>
		<h1><%- title %></h1>

		<img src="<%- imagesUri %><%- imagePath %>featured.png" class="featured" alt="Featured Image"/>
		<p><%- description %></p>

	   <% if(typeof(link) !== "undefined") { %>
	      <a href="<%- link %>" target="_blank" class="btn btn-dark">View Website</a>
	   <% } %>
    </div>
  </div><!-- end of container-common -->
</div><!-- end of row -->