<%
    function resolvePathData(path) {

        var obj = public;

        if (path.length > 0) {
            for (var j = 0; j < path.length; j++) {
                if (typeof(obj[path[j]]) === "undefined") { %>
                        <h1 style ="color: red"> <strong > ERROR <% -path.join("/") %> is invalid </strong></h1>
                        <%
                    return {
                        title: "ERROR " + path.join("/") + " is invalid!",
                        thumbnail: ""
                    };
                }
                obj = obj[path[j]];
            }
        }

        return obj._data;
	}

var folderData;

if (typeof(historyRef) == "undefined")
    historyRef = ""


// # Hack for prev-next on chapter index page

var siblingPath;

if (historyRef == "parent") {
    siblingPath = current.path.slice(0, current.path.length - 2);

} else {
    siblingPath = current.path.slice(0, current.path.length - 1);

}
folderData = resolvePathData(siblingPath);

function getLinkUrl(page) {
    var data = folderData[page];
    var resultUrl;

    if (typeof(data) !== "undefined") {

        resultUrl = siblingPath.join("/") + "/" + page;

        if (data.locked == true)
            resultUrl = protectedUri + resultUrl;
        else
            resultUrl = uri + resultUrl;

        if (data.multipart !== true)
            resultUrl += ".html";
    }

    return resultUrl;

}

var prev = false;
var next = false;
var found = false;
var lookingFor = current.source;

// # Hack for prev-next on chapter index page
if (historyRef == "parent") {
    lookingFor = current.path[current.path.length - 2];
}

// # Figure out where in the navigation we are to pick prev-next buttons
for (page in folderData) {
    if (page != "index" && typeof(folderData[page].title) !== "undefined" ) {
        if (page == lookingFor) {
            found = true;
        } else {
            if (!found) {
                prev = page;
            } else {
                next = page;
                break;
            }
        }
    }
} %>

<div class="row bkg-tan work-pagination">
	<div class="container-common">

		<div class="col-xs-4 prev">
			<% if(prev !== false) { %>
				<a href="<%= getLinkUrl(prev) %>" class="arrow">
                    <img src="<%- imagesUri %>/previous-work.png" alt="Previous"/>
                    <p>Previous <span>Project</span></p>
                    <!-- <p><%= folderData[prev].title %></p> -->
                </a>
			<% } else { %>
			<% } %>
		</div>
		<div class="col-xs-4 all">
			<a href="<%= getLinkUrl("index") %>" class="">
                <img src="<%- imagesUri %>/all-work.png" alt="All Work"/>
                <p>All <span>Work</span></p>
            </a>
		</div>
		<div class="col-xs-4 next">
			<% if(next !== false) { %>
				<a href="<%= getLinkUrl(next) %>" class="arrow">
                    <img src="<%- imagesUri %>/next-work.png" alt="Next"/>
                    <p>Next <span>Project</span></p>
                    <!-- <p><%= folderData[next].title %></p> -->
                </a>
			<% } else { %>
			<% } %>
		</div>

	</div>
</div>
