{% if card %}
  {% set card_base_class = card.base_class|default('c-card') %}

  <div class="{{ bem_classes(card_base_class, card.element, card.modifiers, card.extra) }}" {{ add_attributes(card.attributes) }}>
    {% if card.category %}
      <div class="{{ bem_classes(card_base_class, 'category') }} o-category">
        {{ card.category }}
      </div>
    {% endif %}
    <div class="{{ card_base_class ~ '--inner' }}">
      {% if card.figure.image.src %}
        <div class="{{ bem_classes(card_base_class, 'image') }}">
          {% include "@atoms/images/image/figure.twig" with card %}
        </div>
      {% endif %}
      <div class="{{ bem_classes(card_base_class, 'content') }} u-spacing--half">
        {% if card.meta.author.name or card.meta.date %}
          <div class="{{ bem_classes(card_base_class, 'meta') }}">
            {% include "@atoms/text/meta/meta.twig" with card %}
          </div>
        {% endif %}
        {% if card.eyebrow %}
          <div class="{{ bem_classes(card_base_class, 'eyebrow') }}">
            {% include "@atoms/text/eyebrow/eyebrow.twig" with card %}
          </div>
        {% endif %}
        {% if card.kicker.text %}
          <div class="{{ bem_classes(card_base_class, 'kicker') }}">
            {% include "@atoms/text/kicker/kicker.twig" with card %}
          </div>
        {% endif %}
        {% if card.heading.text %}
          <div class="{{ bem_classes(card_base_class, 'heading') }}">
            {% include "@atoms/text/heading/heading.twig" with card %}
          </div>
        {% endif %}
        {% if card.price.regular %}
          <div class="{{ bem_classes(card_base_class, 'price') }}">
            {% include "@atoms/text/price/price.twig" with card %}
          </div>
        {% endif %}
        {% if card.dek.text %}
          <div class="{{ bem_classes(card_base_class, 'dek') }}">
            {% include "@atoms/text/dek/dek.twig" with card %}
          </div>
        {% endif %}
        {% if card.rich_text.text %}
          <div class="{{ bem_classes(card_base_class, 'rich-text') }}">
            {% include "@atoms/text/rich-text/rich-text.twig" with card %}
          </div>
        {% endif %}
        {% if card.social_share %}
          <div class="{{ bem_classes(card_base_class, 'social-share') }}">
            {% include "@molecules/components/social/social-share/social-share.twig" with card %}
          </div>
        {% endif %}
      </div>
      {% if card.link or card.link_report %}
        <div class="{{ bem_classes(card_base_class, 'links') }}{{ not card.link_report ? ' has-border'}}">
          {% if card.link %}
            <div class="{{ bem_classes(card_base_class, 'link') }}">
              {% include "@atoms/links/link.twig" with card %}
            </div>
          {% endif %}
          {% if card.link_report %}
            <div class="{{ bem_classes(card_base_class, 'link-report') }}">
              {% include "@atoms/links/link-report.twig" with card %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
