<div class="row">
  <div class="container-common">
    <div class="page-title">
      <h2><%- title %></h2>
      <!-- <h1>Designer + Developer + Spontaneous Woodworker</h1> -->
      <p><!-- Equals me, Kelsey Cahill, owner and lead everything of Cahill&rsquo;s Creative.  -->I currently reside in Wayne County, PA (Beach Lake, to be exact), but offer my graphic design, branding, and website <a href="<%- uri %>services">services</a> to many other areas, including Scranton, Milford, Pike County and the Poconos.
      </p>
    </div>

    <div class="intro">
      <div class="inviewable">
        <img src="<%- imagesUri %>headshot.jpg" class="headshot inview-glideInLeft" alt="Headshot of Kelsey Cahill" title="Headshot of Kelsey Cahill"/>
      </div>
      <div class="inviewable content">
        I specialize in all aspects of branding and website design, and use my experience in graphic design to help clients bring their brand and ideas to life. I enjoy working with small businesses and any individual that&rsquo;s as passionate about what they do as I am.
        <br /><br/>
        When I&rsquo;m not working with clients, I enjoy spending time on my own side projects. This helps me stay creatively energized while giving me new challenges to overcome. If you&rsquo;d like to see some of my recent side work, check out the <a href="/work/wood-working">woodworking</a> section of my portfolio.
        <br /><br/>
        Think we’d work well together?<br/>
        <a href="<%- uri %>contact" class="btn btn-dark">Let’s get acquainted</a>
      </div>
      <div style="clear:both;"></div>
    </div>

  </div><!-- end of container-common -->
</div><!-- end of row -->

<!-- <div class="row bkg-tan">
  <div class="container-common inviewable">

    <div class="insights inview-fadeIn delay-1">
      <img src="<%- imagesUri %>/icon-snow.png" class="icon" alt="Snow" title="Snow" />
      <h4>Winter Sport Junkie</h4>
    </div>
    <div class="insights inview-fadeIn delay-2">
      <img src="<%- imagesUri %>icon-dog.png" class="icon" alt="Paw Print" title="Paw Print"  />
      <h4>Dog Lover</h4>
    </div>
    <div class="insights inview-fadeIn delay-3">
      <img src="<%- imagesUri %>icon-music.png" class="icon" alt="Music Note" title="Music Note"  />
      <h4>Country Music Enthusiast</h4>
    </div>
    <div class="insights inview-fadeIn delay-4">
      <img src="<%- imagesUri %>icon-boot.png" class="icon" alt="Cowgirl Boots" title="Cowgirl Boots"  />
      <h4>Boot Collector</h4>
    </div>

  </div>
</div> -->

<div class="row bkg-tan">
  <div class="container-common">
    <div class="page-title">
      <h2>Process</h2>
      <span class="h1">How We Do It</span>
    </div>
    <div class="process">
      <ul>
         <li class="normal inviewable">
              <div class="process-image">
                   <img class="img-circle" src="<%- imagesUri %>icon-discovery.png" alt="Discovery" title="Discovery"/>
              </div>
              <div class="process-panel inview-glideInLeft delay-1">
                   <h2>Discovery</h2>
                   <p>We’ll talk, we’ll laugh, I’ll tell a knock-knock joke that makes us both uncomfortable and then we’ll get into the nitty-gritty. This phase of my process sets the foundation for your entire project. You’ll gather as much information about me as I do about you to allow both of us to make informed and cohesive decisions throughout the length of your project. After the initial discussions, I’ll present you with a proposal outlining costs as well as deliverables.</p>
              </div>
         </li>
         <li class="inverted inviewable">
              <div class="process-image">
                   <img class="img-circle" src="<%- imagesUri %>icon-planning.png" alt="Planning" title="Planning"/>
              </div>
              <div class="process-panel inview-glideInRight delay-2">
                   <h2>Planning</h2>
                   <p>Once we take the plunge and decide to work together, we’ll dive head first into strategizing. Your project needs a plan that’s definitive, creative, innovative, all the –ives. Great design won’t produce the results you want without an underlying framework of logic and strategy.</p>
              </div>
         </li>

         <li class="normal inviewable">
              <div class="process-image">
                   <img class="img-circle" src="<%- imagesUri %>icon-design.png" alt="Design" title="Design"/>
              </div>
              <div class="process-panel inview-glideInLeft delay-3">
                   <h2>Design</h2>
                   <p>Ready. Set. Create! At this point, all my juices are flowing – creative, strategic, apple (have to stay hydrated) – to design the perfect piece or pieces for your project. Don’t worry, I keep you updated along the way so you never have to wonder how things are progressing.</p>
              </div>
         </li>
         <li class="inverted inviewable">
              <div class="process-image">
                   <img class="img-circle" src="<%- imagesUri %>icon-delivery.png" alt="Delivery" title="Delivery"/>
              </div>
              <div class="process-panel inview-glideInRight delay-4">
                   <h2>Delivery</h2>
                   <p>Once I make my official presentation of concepts, you will either approve a direction or suggest some changes. Either way, we keep moving forward until the piece moves from concept to reality. No matter the type of project, this is the stage when all the heavy-lifting occurs and, unlike my pizza guy, I actually deliver when I say I am going to.</p>
              </div>
         </li>
         <li class="normal inviewable">
              <div class="process-image">
                   <img class="img-circle" src="<%- imagesUri %>icon-follow-up.png" alt="Follow Up" title="Follow Up"/>
              </div>
              <div class="process-panel inview-glideInLeft delay-5">
                   <h2>Follow Up</h2>
                   <p>Like that time your mother-in-law came to visit, I never truly leave. After providing you final files for your project, I still remain open for communication. Need a different logo file? Want to make some text or photo updates to your website? Looking for some marketing materials that match your new brand? No matter the project, I love helping clients with follow up work.</p>
              </div>
         </li>
      </ul>
    </div>
  </div><!-- end of container-common -->
</div><!-- end of row -->