<div class="row main">
	<div class="container-common">
		<div class="page-title">
			<h1>Welcome to Cahill’s Creative.</h1>
			<p>Here, it’s about more than just ideas; it’s about making ideas happen. Your real-world problems deserve real-world solutions, so, sit down, buckle up, and get ready for one of the most creative rides of your life.</p>
			<div class="arrow-down floating"><i class="fa fa-angle-down"></i></div>
		</div>
	</div><!-- end of container-common -->
</div><!-- end of row -->

<div class="row bkg-tan">
	<div class="container-common">
		<div class="page-title">
			<h2>Services</h2>
			<span class="h1">How may I help you today?</span>
		</div>
		<div class="inviewable block__row">
			<div class="block block--4up trim inview-fadeIn delay-1">
				<div class="block-icon">
					<img src="<%- imagesUri %>icon-web.png" alt="Websites"/>
				</div>
				<div class="content">
					<h4>Web</h4>
					<p>More than just websites, going digital means email, social media & beyond.</p>
				</div>
				<a href="<%- uri %>services" class="btn btn-dark">Learn More</a>
			</div>
			<div class="block block--4up trim inview-fadeIn delay-2">
				<div class="block-icon">
					<img src="<%- imagesUri %>icon-branding.png" alt="Branding"/>
				</div>
				<div class="content">
					<h4>Branding</h4>
					<p>Build your brand from the bottom up – logo, typography, & more.</p>
				</div>
				<a href="<%- uri %>services" class="btn btn-dark">Learn More</a>
			</div>
			<div class="block block--4up trim inview-fadeIn delay-3">
				<div class="block-icon">
					<img src="<%- imagesUri %>icon-print.png" alt="Print"/>
				</div>
				<div class="content">
					<h4>Print</h4>
					<p>Despite what they want you to believe, print is most definitely alive and kicking.</p>
				</div>
				<a href="<%- uri %>services" class="btn btn-dark">Learn More</a>
			</div>
			<div class="block block--4up trim inview-fadeIn delay-4">
				<div class="block-icon">
					<img src="<%- imagesUri %>icon-messaging.jpg" alt="Messaging" />
				</div>
				<div class="content">
					<h4>Messaging</h4>
					<p>Great designs need great content; I’ve got you covered.</p>
				</div>
				<a href="<%- uri %>services" class="btn btn-dark">Learn More</a>
			</div>
		</div>
	</div><!-- end of container-common -->
</div><!-- end of row -->

<!-- <div class="row row-3 recent-work">
	<div class="container-common">
		<div class="page-title">
			<h2>Recent Work</h2>
			<span class="h1">See What We're Up Too</span>
		</div>
		<img src="<%- imagesUri %>arrow.png"  alt="Arrow" />
	</div>
</div>

<div class="row work">
	<div class="grid-front">
		<figure class="post-quicklink">
			<img typeof="foaf:Image" src="<%- imagesUri %>/work/cams/thumbnail.jpg">
			<figcaption>
				<h2>Nov 10</h2>
				<div class="icon-links">
					<i class="fa fa-eye"></i>
					<i class="fa fa-share"></i>
					<i class="fa fa-heart"></i>
				</div>
				<p class="description">New brand. New Year. Same Spirit!</p>
			</figcaption>
		</figure>
	</div>
	<div class="grid-front">
		<figure class="post-quicklink">
			<img typeof="foaf:Image" src="<%- imagesUri %>/work/cams/thumbnail.jpg">
			<figcaption>
				<h2>Nov 10</h2>
				<div class="icon-links">
					<i class="fa fa-eye"></i>
					<i class="fa fa-share"></i>
					<i class="fa fa-heart"></i>
				</div>
				<p class="description">New brand. New Year. Same Spirit!</p>
			</figcaption>
		</figure>
	</div>
	<div class="grid-front">
		<figure class="post-quicklink">
			<img typeof="foaf:Image" src="<%- imagesUri %>/work/cams/thumbnail.jpg">
			<figcaption>
				<h2>Nov 10</h2>
				<div class="icon-links">
					<i class="fa fa-eye"></i>
					<i class="fa fa-share"></i>
					<i class="fa fa-heart"></i>
				</div>
				<p class="description">New brand. New Year. Same Spirit!</p>
			</figcaption>
		</figure>
	</div>
	<div class="grid-front">
		<figure class="post-quicklink">
			<img typeof="foaf:Image" src="<%- imagesUri %>/work/cams/thumbnail.jpg">
			<figcaption>
				<h2>Nov 10</h2>
				<div class="icon-links">
					<i class="fa fa-eye"></i>
					<i class="fa fa-share"></i>
					<i class="fa fa-heart"></i>
				</div>
				<p class="description">New brand. New Year. Same Spirit!</p>
			</figcaption>
		</figure>
	</div>
</div> -->

<div class="row">
	<div class="container-common">
		<div class="page-title">
			<h2>Instagram</h2>
			<span class="h1">See What We're Up Too</span>
		</div>
	</div><!-- end of container-common -->
</div><!-- end of row -->
<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7d1032cfaa22501f89ace172d2126e4c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; margin-bottom:-10px;"></iframe>
