<div class="row row-1">
  <div class="container-common">

    <div class="page-title">
      <h2><%- title %></h2>
      <h1>What We Do</h1>
      <p><!-- Right-brained thinkers are creative types; left-brain thinkers are inquisitive strategists. Luckily for you, I’m able to combine the two and wear many different hats. Luckily for me, I look great in hats. --> My freelance graphic and website design services listed here are not all-encompassing; if you have a project need that you don’t see, <a href="<%- uri %>contact">get in touch</a> with me! I’m always up for a new challenge.</p>
    </div>

    <div class="inviewable block__row">
      <div class="block block--3up border--black trim inview-fadeIn delay-1">
        <div class="block-icon">
          <img src="<%- imagesUri %>icon-web.png" alt="Website Design and Development Icon" title="Website Design and Development Icon" />
        </div>
        <div class="content">
          <h4>Web & Interactive</h4>
          <div class="divider"></div>
          <ul>
          <li>Website Design & Development</li>
          <li>Responsive Web Design</li>
          <li>Content Management Systems (CMS)</li>
          <li>Search Engine Optimization (SEO)</li>
          <li>Social Media & Blogs</li>
          </ul>
          <div class="divider"></div>
        </div>
        <a href="<%- uri %>contact" class="btn btn-dark" alt="Start a Project">Start a Project</a>
      </div>

      <div class="block block--3up border--black trim inview-fadeIn delay-2">
        <div class="block-icon">
          <img src="<%- imagesUri %>icon-branding.png" alt="Logo and Branding Icon" title="Logo and Branding Icon" />
        </div>
        <div class="content">
          <h4>Logo & Branding</h4>
          <div class="divider"></div>
          <ul>
          <li>Logo Design</li>
          <li>Tagline & Positioning</li>
          <li>Typography & Color Palette</li>
          <li>Branding Guidelines</li>
          <li>Stationery</li>
          </ul>
          <div class="divider"></div>
        </div>
        <a href="<%- uri %>contact" class="btn btn-dark" alt="Start a Project">Start a Project</a>
      </div>

      <div class="block block--3up border--black trim inview-fadeIn delay-3">
        <div class="block-icon">
          <img src="<%- imagesUri %>icon-email-marketing.png" alt="Email Marketing Icon" title="Email Marketing Icon" />
        </div>
        <div class="content">
          <h4>Email Marketing</h4>
          <div class="divider"></div>
          <ul>
          <li>Campaign Strategy</li>
          <li>Design</li>
          <li>Copywriting</li>
          <li>Demographic Targeting</li>
          <li>Timeline Scheduling</li>
          </ul>
          <div class="divider"></div>
        </div>
        <a href="<%- uri %>contact" class="btn btn-dark" alt="Start a Project">Start a Project</a>
      </div>

      <div class="block block--3up border--black trim inview-fadeIn delay-4">
        <div class="block-icon">
          <img src="<%- imagesUri %>icon-direct-mail.png"  alt="Direct Mail Icon" title="Direct Mail Icon" />
        </div>
        <div class="content">
          <h4>Direct Mail</h4>
          <div class="divider"></div>
          <ul>
          <li>Copywriting</li>
          <li>Design</li>
          <li>Mailing Lists</li>
          <li>Print Coordination</li>
          </ul>
          <div class="divider"></div>
        </div>
        <a href="<%- uri %>contact" class="btn btn-dark" alt="Start a Project">Start a Project</a>
      </div>

      <div class="block block--3up border--black trim inview-fadeIn delay-5">
        <div class="block-icon">
          <img src="<%- imagesUri %>icon-print.png" alt="Print Icon" title="Print Icon"  />
        </div>
        <div class="content">
          <h4>Print</h4>
          <div class="divider"></div>
          <ul>
          <li>Brochures</li>
          <li>Advertising</li>
          <li>Newsletters</li>
          <li>Signage & Environmental </li>
          </ul>
          <div class="divider"></div>
        </div>
        <a href="<%- uri %>contact" class="btn btn-dark" alt="Start a Project">Start a Project</a>
      </div>

      <div class="block block--3up border--black trim inview-fadeIn delay-6">
        <div class="block-icon">
          <img src="<%- imagesUri %>icon-packaging.png" alt="Packaging and Tradeshows Icon" title="Packaging and Tradeshows Icon" />
        </div>
        <div class="content">
          <h4>Packaging & Tradeshows</h4>
          <div class="divider"></div>
          <ul>
          <li>Graphic Design</li>
          <li>Point-of-purchase Displays</li>
          <li>Booth Layout & Graphics</li>
          <li>Vendor Coordination</li>
          </ul>
          <div class="divider"></div>
        </div>
        <a href="<%- uri %>contact" class="btn btn-dark" alt="Start a Project">Start a Project</a>
      </div>
    </div><!-- end of inviewable -->

  </div><!-- end of container-common -->
</div><!-- end of row -->
