{% set content_single_base_class = content_single.base_class|default('c-content-single') %}

<article class="{{ bem_classes(content_single_base_class, content_single.element, content_single.modifiers, content_single.extra) }}">
  <div class="{{ bem_classes(content_single_base_class, 'container') }} l-container--l u-spacing--half">
    <div class="{{ bem_classes(content_single_base_class, 'wrap') }}">
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "icon": {
            "name": post.icon
          },
          "kicker": post.kicker,
          "heading": post.title,
          "extra": bem_classes(content_single_base_class, 'header')
        }
      } %}
      {% if post.thumbnail %}
        <div class="{{ bem_classes(content_single_base_class, 'hero') }} js-toggle" data-prefix="content-modal" data-toggled="body">
          {% include "@atoms/images/image/responsive-image.twig" with {
            "image": {
              "srcset": post.thumbnail.src|resize(720, 405) ~ ' 720w, ' ~ post.thumbnail.src|resize(960, 540) ~ ' 960w',
              "src": post.thumbnail.src|resize(500, 281),
              "alt": post.thumbnail.alt
            }
          } %}
        </div>
      {% endif %}
      {% if post.content %}
        <div class="{{ bem_classes(content_single_base_class, 'content') }}">
          {% include "@atoms/text/meta/meta.twig" with {
            "meta": {
              "date": post.date
            }
          } %}
          <div class="{{ bem_classes(content_single_base_class, 'body-wrap') }} u-spacing--double">
            {% include "@molecules/components/social/social-share/social-share.twig" with {
              "social_share": {
                "modifiers": "stacked"
              }
            } %}
            <div class="{{ bem_classes(content_single_base_class, 'body') }}">
              {% include "@atoms/text/rich-text/rich-text.twig" with {
                "rich_text": {
                  "extra": "has-dropcap",
                  "text": post.content
                }
              } %}
            </div>
            {% include "@molecules/navigation/tags/tags.twig" with {
              "tags": post.terms('post_tag')
            } %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% include "@molecules/components/social/article-share/article-share.twig" %}
</article>
