{% set base_class = stats.base_class|default('c-stats') %}

{% if stats.project or stats.room or stats.cost or stats.skill_level %}
  <div class="{{ bem_classes(base_class, stats.element, stats.modifiers, stats.extra) }}">
    {% if stats.project %}
      <div class="{{ bem_classes(base_class, 'item') }}">
        {% include "@atoms/text/heading/heading.twig" with {
          "heading": {
            "level": "6",
            "size": "xs",
            "type": "secondary",
            "text": "Project",
            "extra": bem_classes(base_class, 'heading')
          }
        } %}
        <div class="{{ bem_classes(base_class, 'tags') }}">
          {% set projects = [] %}
          {% for tag in stats.project %}
            {% set projects = projects|merge([tag.name]) %}
          {% endfor %}
          {{ projects|join(', ') }}
        </div>
      </div>
    {% endif %}
    {% if stats.room %}
      <div class="{{ bem_classes(base_class, 'item') }}">
        {% include "@atoms/text/heading/heading.twig" with {
          "heading": {
            "level": "6",
            "size": "xs",
            "type": "secondary",
            "text": "Room",
            "extra": bem_classes(base_class, 'heading')
          }
        } %}
        <div class="{{ bem_classes(base_class, 'tags') }}">
          {% set rooms = [] %}
          {% for tag in stats.room %}
            {% set rooms = rooms|merge([tag.name]) %}
          {% endfor %}
          {{ rooms|join(', ') }}
        </div>
      </div>
    {% endif %}
    {% if stats.cost %}
      <div class="{{ bem_classes(base_class, 'item') }}">
        {% include "@atoms/text/heading/heading.twig" with {
          "heading": {
            "level": "6",
            "size": "xs",
            "type": "secondary",
            "text": "Cost",
            "extra": bem_classes(base_class, 'heading')
          }
        } %}
        <div class="{{ bem_classes(base_class, 'tags') }}">
          {% set costs = [] %}
          {% for tag in stats.cost %}
            {% set costs = costs|merge([tag.name]) %}
          {% endfor %}
          {{ costs|join(', ') }}
        </div>
      </div>
    {% endif %}
    {% if stats.skill_level %}
      <div class="{{ bem_classes(base_class, 'item') }}">
        {% include "@atoms/text/heading/heading.twig" with {
          "heading": {
            "level": "6",
            "size": "xs",
            "type": "secondary",
            "text": "Skill Level",
            "extra": bem_classes(base_class, 'heading')
          }
        } %}
        <div class="{{ bem_classes(base_class, 'tags') }}">
          {% set skill_levels = [] %}
          {% for tag in stats.skill_level %}
            {% set skill_levels = skill_levels|merge([tag.name]) %}
          {% endfor %}
          {{ skill_levels|join(', ') }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
