<%- partial("../_partials/_work-header") %>

<div class="row work-container">
  <div class="container-common">

  	<p class="divider"><span>Identity</span></p>
    <img src="<%- imagesUri %><%- imagePath %>identity-01.jpg" alt="Logo"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-02.jpg" alt="Branding Icons"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-03.jpg" alt="Business Cards"/>

    <p class="divider"><span>Emailers</span></p>
    <img src="<%- imagesUri %><%- imagePath %>emailers-01.jpg" alt="Emailers"/>

    <p class="divider"><span>Direct Mail</span></p>
    <img src="<%- imagesUri %><%- imagePath %>direct-mail-01.jpg" alt="Direct Mail"/>

    <p class="divider"><span>Print</span></p>
    <img src="<%- imagesUri %><%- imagePath %>print-01.jpg" alt="Print Design Folder"/>
    <img src="<%- imagesUri %><%- imagePath %>print-02.jpg" alt="Member Application"/>
  </div><!-- end of container-common -->
</div><!-- end of row -->

<%- partial("../_partials/_work-pagination") %>