<%- partial("../_partials/_work-header") %>

<div class="row work-container">
  <div class="container-common">

  	<p class="divider"><span>Identity</span></p>
    <img src="<%- imagesUri %><%- imagePath %>identity-01.jpg" alt="Logo Design"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-02.jpg" alt="Color Palette"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-03.jpg" alt="Stationary Design"/>

    <p class="divider"><span>Restaurant Graphics</span></p>
    <img src="<%- imagesUri %><%- imagePath %>graphics-01.jpg" alt="Restaurant Graphics"/>
    <img src="<%- imagesUri %><%- imagePath %>graphics-02.jpg" alt="Restaurant Graphics"/>
    <img src="<%- imagesUri %><%- imagePath %>graphics-03.jpg" alt="Restaurant Graphics"/>

    <p class="divider"><span>Website</span></p>
    <img src="<%- imagesUri %><%- imagePath %>website-01.jpg" alt="Website Design"/>
  </div><!-- end of container-common -->
</div><!-- end of row -->

<%- partial("../_partials/_work-pagination") %>