
<div class="row row-1">
  <div class="container-common">

    <div class="page-title">
      <h2><%- title %></h2>
      <h1>What I'm working on</h1>
      <p>No gimmicks, just great work. That’s the motto I work by. (The motto I live by involves late-night nachos and country music, but I have yet to devote a gallery to those images.) Browse through some of my favorite projects and then <a href="/contact">get in touch</a> with me to get started on your own (or to find out my secret nacho recipe).</p>
    </div>
  
  </div><!-- end of container-common -->
</div><!-- end of row -->

<div class="row work-grid bkg-tan">
<%
	function getFolderData() {
	    var obj = public;
	    for (var j = 0; j < current.path.length - 1; j++) {
	        if (typeof(obj[current.path[j]]) === "undefined") {
	            return null;
	        }
	        obj = obj[current.path[j]];
	    }
	    return obj._data;
	}

	var pages = getFolderData();
	var pathToPage = current.path.slice(0, current.path.length - 1).join("/");

	if (typeof(pages) !== "undefined") {
	    var validPages = [];
	    for (page in pages) {
	        if (page != "index") {
	            pages[page].url = uri + pathToPage + "/" + page
	            validPages.push(pages[page]);
	        }
	    }
	    if (validPages.length > 0) { 
		%>
			<% 	for(page in validPages) { %>
				<a href="<%- validPages[page].url %>" class="" style="background-image: url('<%- imagesUri %><%- validPages[page].imagePath %>thumbnail.jpg');">
					<div class="overlay">
						<div class="content">
							<span class="icon"><i class="fa fa-search"></i></span>
							<h3><%= validPages[page].title %></h3>
							<hr />
							<% for (var i=0; i<validPages[page].services.length; i++) { %>
								<em><%- validPages[page].services[i] %></em>
							<% } %>
						</div>
					</div>
				</a>
			<% } %>
		<% } %>			
	<% } %>
</div>

