<%- partial("../_partials/_work-header") %>

<div class="row work-container">
  <div class="container-common">

  	<p class="divider"><span>Identity</span></p>
    <img src="<%- imagesUri %><%- imagePath %>identity-01.jpg" alt="Logo Design"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-02.jpg" alt="Stationary Design"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-03.jpg" alt="Coaster Design"/>

    <p class="divider"><span>Packaging</span></p>
    <img src="<%- imagesUri %><%- imagePath %>packaging-01.jpg" alt="Packaging Design"/>
    <img src="<%- imagesUri %><%- imagePath %>packaging-02.jpg" alt="Packaging Design"/>

    <p class="divider"><span>Branding</span></p>
    <img src="<%- imagesUri %><%- imagePath %>branding-01.jpg" alt="T-Shirt Design"/>

    <p class="divider"><span>Print</span></p>
    <img src="<%- imagesUri %><%- imagePath %>print-01.jpg" alt="Print Design"/>
  </div><!-- end of container-common -->
</div><!-- end of row -->

<%- partial("../_partials/_work-pagination") %>