<%- partial("../_partials/_work-header") %>

<div class="row work-container">
  <div class="container-common">

    <p class="divider"><span>Identity</span></p>
    <img src="<%- imagesUri %><%- imagePath %>identity-01.jpg" alt="Logo Design"/>
    <img src="<%- imagesUri %><%- imagePath %>identity-02.jpg" alt="Color Palette"/>
    
  	<p class="divider"><span>Print</span></p>
    <img src="<%- imagesUri %><%- imagePath %>print-01.jpg" alt="Newsletter Design"/>
    <img src="<%- imagesUri %><%- imagePath %>print-02.jpg" alt="Newsletter Design"/>
    <img src="<%- imagesUri %><%- imagePath %>print-03.jpg" alt="Newsletter Design"/>

  </div><!-- end of container-common -->
</div><!-- end of row -->

<%- partial("../_partials/_work-pagination") %>