<%- partial("../_partials/_work-header") %>

<div class="row work-container">
  <div class="container-common">

  	<p class="divider"><span>Website</span></p>
    <img src="<%- imagesUri %><%- imagePath %>website-01.jpg" alt="Website Design"/>
    <img src="<%- imagesUri %><%- imagePath %>website-02.jpg" alt="Website Branding"/>
    <img src="<%- imagesUri %><%- imagePath %>website-03.jpg" alt="Website Design"/>

    <p class="divider"><span>Tv Slides</span></p>
    <img src="<%- imagesUri %><%- imagePath %>tv-01.jpg" alt="TV Promotions"/>

  </div><!-- end of container-common -->
</div><!-- end of row -->

<%- partial("../_partials/_work-pagination") %>