<%- partial("../_partials/_work-header") %>

<div class="row work-container">
  <div class="container-common">
	<p class="divider"><span>Chalkboards</span></p>
    <img src="<%- imagesUri %><%- imagePath %>chalkboard-01.jpg" alt="Chalboards Assorted"/>
    <img src="<%- imagesUri %><%- imagePath %>chalkboard-02.jpg" alt="Hand-done Chalkboard"/>
    <img src="<%- imagesUri %><%- imagePath %>chalkboard-03.jpg" alt="Family Chalkboard"/>
    <img src="<%- imagesUri %><%- imagePath %>chalkboard-04.jpg" alt="Christmas Chalkboard"/>

    <p class="divider"><span>Furniture</span></p>
    <img src="<%- imagesUri %><%- imagePath %>furniture-02.jpg" alt="Rustic TV and Night Stand"/>
    <img src="<%- imagesUri %><%- imagePath %>furniture-03.jpg" alt="Dog House"/>
  </div><!-- end of container-common -->
</div><!-- end of row -->

<%- partial("../_partials/_work-pagination") %>