{% if promo.items %}
  {% set base_class = promo.base_class|default('c-promo') %}

  <section{{ promo.anchor ? ' id="' ~ promo.anchor ~ '"'}} class="{{ bem_classes(base_class, promo.element, promo.modifiers, promo.extra) }} l-container--full{{ promo.items|length > 1 ? ' js-slick' }}">
    {% for item in promo.items %}
      <div class="{{ bem_classes(base_class, 'item', ['image-' ~ item.image_placement|lower, 'background-' ~ item.background_color|lower ]) }}">
        <div class="{{ bem_classes(base_class, 'content') }} u-spacing">
          <div class="{{ bem_classes(base_class, 'header') }} u-spacing--half">
            {% include "@atoms/text/kicker/kicker.twig" with {
              "kicker":  {
                "text": item.kicker,
                "extra": bem_classes(base_class, 'kicker')
              }
            } %}
            {% include "@atoms/text/heading/heading.twig" with {
              "heading": {
                "level": "1",
                "size": "xl",
                "type": "primary",
                "text": item.title,
                "link": {
                  "url": item.button.url,
                },
                "extra": bem_classes(base_class, 'heading')
              }
            } %}
          </div>
          {% if item.hr %}
            {% include "@atoms/hr/hr.twig" with {
              "hr": {
                "modifiers": "small"
              }
            } %}
          {% endif %}
          {% include "@atoms/text/rich-text/rich-text.twig" with {
            "rich_text": {
              "text": item.body|wpautop,
              "extra": bem_classes(base_class, 'body')
            }
          } %}
          {% include "@atoms/buttons/button.twig" with {
            "button": {
              "url": item.button.url,
              "text": item.button.title,
              "target": item.button.target,
              "extra": bem_classes(base_class, 'button')
            }
          } %}
        </div>
        <div class="{{ bem_classes(base_class, 'image') }} o-background-image o-background-image--{{ Image(item.image).id }}">
          <style>
            .o-background-image--{{ Image(item.image).id }} {
              background-image: url('{{ Image(item.image).src|resize(720,720) }}');
            }
            @media (min-width: 960px) {
              .o-background-image--{{ Image(item.image).id }} {
                background-image: url('{{ Image(item.image).src|resize(960,960) }}');
              }
            }
            @media (min-width: 1200px) {
              .o-background-image--{{ Image(item.image).id }} {
                background-image: url('{{ Image(item.image).src|resize(1200,1200) }}');
              }
            }
          </style>
          {% if item.icon_name or item.icon_image %}
            <div class="{{ bem_classes(base_class, 'icon') }}">
              {% include "@atoms/images/icons/icon.twig" with {
                "icon": {
                  "type": item.icon_type,
                  "name": item.icon_name,
                  "image": item.icon_image,
                  "modifiers": "large"
                }
              } %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>
{% endif %}
