{% if post.terms('project') or post.terms('room') or post.terms('cost') or post.terms('skill_level') %}
  <div class="article__categories narrow">
    {% if post.terms('project') %}
      <div class="article__category">
        <span class="font--primary--xs">Project</span>
        {% for term in post.terms('project') %}
          <a href="{{ term.link }}">{{ term.name }}{% if not loop.last %}, {% endif %}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if post.terms('room') %}
      <div class="article__category">
        <span class="font--primary--xs">Room</span>
        {% for term in post.terms('room') %}
          <a href="{{ term.link }}">{{ term.name }}{% if not loop.last %}, {% endif %}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if post.terms('cost') %}
      <div class="article__category">
        <span class="font--primary--xs">Cost</span>
        {% for term in post.terms('cost') %}
          <a href="{{ term.link }}">{{ term.name }}{% if not loop.last %}, {% endif %}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if post.terms('skill_level') %}
      <div class="article__category">
        <span class="font--primary--xs">Skill Level</span>
        {% for term in post.terms('skill_level') %}
          <a href="{{ term.link }}">{{ term.name }}{% if not loop.last %}, {% endif %}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}