{% set checkbox_list_base_class = checkbox_list.base_class|default('c-checkbox-list') %}

{% if checkbox_list %}
  <div id="{{ id }}" class="{{ bem_classes(checkbox_list_base_class, checkbox_list.element, checkbox_list.modifiers, checkbox_list.extra) }} js-checkbox-list">
    {% for item in checkbox_list %}
      <div id="{{ id ~ '__' ~ loop.index }}" class="{{ bem_classes(checkbox_list_base_class, 'item') }} u-spacing--half">
        <input id="checkbox-{{ loop.index }}" name="{{ loop.index }}" type="checkbox">
        <label for="checkbox-{{ loop.index }}" aria-label="{{ item.title }}">
          <span>{{ item.title }}</span>
          {% include "@atoms/links/link.twig" with {
            "link": {
              "url": item.link.url,
              "text": item.link.title,
              "target": item.link.target,
              "modifiers": "small",
              "extra": bem_classes(checkbox_list_base_class, 'link'),
            }
          } %}
        </label>
      </div>
    {% endfor %}
  </div>
{% endif %}