{% set link = post.link %}
{% set title = post.title %}
{% set excerpt = post.preview.length(100).read_more('') %}
{% set image = Image(post.thumbnail).src|resize(600,450) %}
<div class="article__share share--tools spacing--half">
  <div class="article__share-title font--primary--xs color--gray">Share</div>
  <a href="https://facebook.com/sharer/sharer.php?u={{ link }}" class="article__share-link icon icon--s space--half-right" aria-label="Share on Facebook" target="_blank" rel="noopener">
    {% include "00-atoms/icons/icon--facebook.twig" with { fill: "#393939"} %}
  </a>
  <a href="https://twitter.com/intent/tweet/?text={{ title ~ ': ' ~ excerpt ~ ' ' ~ link }}&amp;url={{ link }}" class="article__share-link icon icon--s space--half-right" aria-label="Share on Twitter" target="_blank" rel="noopener">
    {% include "00-atoms/icons/icon--twitter.twig" with { fill: "#393939"} %}
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ link }}&amp;title={{ title }}&amp;summary={{ excerpt ~ ' ' ~ link }}&amp;source={{ link }}" aria-label="Share on LinkedIn" class="article__share-link icon icon--s space--half-right" target="_blank" rel="noopener">
    {% include "00-atoms/icons/icon--linkedin.twig" with { fill: "#393939"} %}
  </a>
  <a href="https://pinterest.com/pin/create/button/?url={{ link }}&amp;media={{ image }}&amp;description={{ title }}{{ ': ' ~ excerpt ~ ' ' ~ link }}" aria-label="Share on Pinterest" class="article__share-link icon icon--s space--half-right" target="_blank" rel="noopener">
    {% include "00-atoms/icons/icon--pinterest.twig" with { fill: "#393939"} %}
  </a>
  <a href="mailto:?subject={{ title }}&amp;body={{ excerpt ~ ' ' ~ link }}" target="_self" aria-label="Share by E-Mail" class="article__share-link icon icon--s space--half-right" target="_blank" rel="noopener">
    {% include "00-atoms/icons/icon--email.twig" with { fill: "#393939"} %}
  </a>
</div>
