{% if link.url %}
  {% set link_base_class = link.base_class|default('o-link') %}

  <a class="{{ bem_classes(link_base_class, link.element, link.modifiers, link.extra) }}" href="{{ link.url }}"{{ link.target == '_blank' ? ' target="_blank" rel="noreferrer"' : ' target="_self"' }} {{ add_attributes(link.attributes) }}>
    {% if link.icon %}
      {% include "@atoms/images/icons/icon.twig" with link %}
    {% endif %}
    {% if link.text %}
      {{ link.text|raw }}
    {% endif %}
    {% if link.arrow %}
      <span class="o-arrow">→</span>
    {% endif %}
  </a>
{% endif %}
