{% set base_class = post_filter.base_class|default('c-post-filter') %}
{% set filter_base_class = filter.base_class|default('c-filter') %}

{% if post.filter_id %}
  <section class="{{ bem_classes(base_class, post_filter.element, post_filter.modifiers, post_filter.extra) }} l-wrap l-container--xxl">
    <div class="{{ bem_classes(base_class, 'grid') }}" bp="grid">
      <div class="{{ bem_classes(filter_base_class) }}" bp="12 4@md 3@lg 2@xl">
        <div class="{{ bem_classes(filter_base_class, 'bar') }} js-toggle-parent">
          <span class="o-heading__primary--l">
            {% include "@atoms/images/icons/icon.twig" with {
              "icon": {
                "name": "filter",
                "modifiers": "small",
                "extra": "u-space--half--right"
              }
            } %}
            Filter
          </span>
        </div>
        <div class="{{ bem_classes(base_class, 'content') }}">
          {{ function('do_shortcode', '[searchandfilter id="'~ post.filter_id ~'"]') }}
        </div>
      </div>
      <div class="{{ bem_classes(base_class, 'results') }}" bp="8@md 9@lg 10@xl">
        {{ function('do_shortcode', '[searchandfilter id="'~ post.filter_id ~'" show="results"]') }}
      </div>
    </div>
  </section>
{% endif %}
