{% set base_class = related_products.base_class|default('c-related-products') %}

{% if related_products is not empty  %}
  <div class="{{ bem_classes(base_class, related_products.element, related_products.modifiers, related_products.extra) }}">
    {% for section in related_products %}
      <section class="{{ bem_classes(base_class, 'row') }} l-container--full">
        <div class="{{ bem_classes(base_class, 'wrap') }} l-wrap l-container--xxl u-spacing--double">
          <div class="{{ bem_classes(base_class, 'header') }}">
            {% include "@atoms/text/heading/heading.twig" with {
              "heading": {
                "level": "3",
                "size": "l",
                "type": "primary",
                "text": section.title,
                "extra": bem_classes(base_class, 'title')
              }
            } %}
            {% include "@atoms/links/link.twig" with {
              "link": {
                "url": section.link.url,
                "text": section.link.title,
                "target": section.link.target,
                "icon": {
                  "name": "arrow",
                  "modifiers": "xsmall"
                },
                "modifiers": ["alt", "no-shadow"],
                "extra": bem_classes(base_class, 'link')
              }
            } %}
          </div>
          <div class="{{ bem_classes(base_class, 'posts') }} js-slick-products">
            {% for post in get_posts(section.products) %}
              {% include "@molecules/cards/card-product.twig" with {
                "card": post
              } %}
            {% endfor %}
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
{% endif %}
