{% set alert_base_class = alert.base_class|default('c-alert') %}
{% if options.alert_text or options.alert_link %}
  <div class="{{ bem_classes(alert_base_class) }} js-alert">
    <div class="{{ bem_classes(alert_base_class, 'content') }}">
      {% if options.alert_link %}
        <a class="{{ bem_classes(alert_base_class, 'link') }}" href="{{ options.alert_link }}">{{ options.alert_text }}</a>
      {% else %}
        {{ options.alert_text }}
      {% endif %}
    </div>
    <button class="o-icon o-icon--small js-alert-close" aria-label="Close">
      {% include "@atoms/images/icons/close.twig" %}
    </button>
  </div>
{% endif %}