<footer id="contact" class="c-footer">
  <div class="c-footer-main">
    <div class="c-footer--inner l-wrap l-container" bp="grid">
      <div class="c-footer-main__logo" bp="4@lg">
        {% include "01-atoms/images/logo-badge.twig" %}
      </div>
      <div class="c-footer-main__contact u-spacing" bp="first@lg 6@md 4@lg">
        <h3 class="o-heading--l">Get in touch</h3>
        <div class="c-footer-main__contact-details u-spacing">
          <p>
            {% if options.phone_number %}
              <a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a><br />
            {% endif %}
            {% if options.email_address %}
              <a href="mailto:{{ options.email_address }}">{{ options.email_address }}</a>
            {% endif %}
          </p>
          {% include "02-molecules/components/social-links.twig" %}
        </div>
      </div>
      <div class="c-footer-main__signup u-spacing" bp="6@md 4@lg">
        <h3 class="o-heading--l">Join our list</h3>
        <div class="c-footer-main__signup-details u-spacing">
          {% if options.newsletter_signup_details %}
            <p>{{ options.newsletter_signup_details }}</p>
          {% endif %}
          {% include "02-molecules/components/newsletter-signup.twig" %}
        </div>
      </div>
    </div>
  </div>
  <div class="c-footer-legal">
    <div class="c-footer--inner l-wrap l-container" bp="grid 6@md gap-row-none vertical-center">
      <div class="c-footer-legal__copyright">
        <p class="u-font--xs">Copyright {{"now"|date('Y')}}. All Rights Reserved.</p>
      </div>
      <div class="c-footer-legal__nav">
        {% include "02-molecules/navigation/nav-footer.twig" %}
      </div>
    </div>
  </div>
</footer>
