{% set base_class = checkbox_table.base_class|default('c-checkbox-table') %}
{% set title_column = false %}
{% set description_column = false %}
{% set quantity_column = false %}
{% set link_column = false %}
{% for item in checkbox_table %}
  {% if item.title is not empty %}
    {% set title_column = true %}
  {% endif %}
  {% if item.description is not empty %}
    {% set description_column = true %}
  {% endif %}
  {% if item.quantity is not empty %}
    {% set quantity_column = true %}
  {% endif %}
  {% if item.link.url is not empty %}
    {% set link_column = true %}
  {% endif %}
{% endfor %}

{% if checkbox_table %}
  <table id="{{ id }}" class="{{ bem_classes(base_class, checkbox_table.element, checkbox_table.modifiers, checkbox_table.extra) }} js-checkboxes">
    {% if checkbox_table_header %}
      <tr>
        <th></th>
        {% for item in checkbox_table_header %}
          <th>{{ item.heading }}</th>
        {% endfor %}
      </tr>
    {% endif %}
    {% for item in checkbox_table %}
      <tr class="{{ bem_classes(base_class, 'item') }} u-spacing--half">
        <td id="{{ id ~ '__' ~ loop.index }}">
          <input id="checkbox-{{ loop.index }}" name="{{ loop.index }}" type="checkbox">
          <label for="checkbox-{{ loop.index }}" aria-label="{{ item.title }}" aria-hidden="true" class="is-vishidden">{{ item.title }}</label>
        </td>
        {% if title_column %}<td>{{ item.title }}</td>{% endif %}
        {% if description_column %}<td>{{ item.description }}</td>{% endif %}
        {% if quantity_column %}<td>{{ item.quantity }}</td>{% endif %}
        {% if link_column %}
          <td>
            {% include "@atoms/links/link.twig" with {
              "link": {
                "url": item.link.url,
                "text": "Buy Here",
                "target": "_blank",
                "modifiers": "small",
                "extra": bem_classes(base_class, 'link'),
              }
            } %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}