{% set base_class = hero_gallery.base_class|default('c-hero-gallery') %}

{% if hero_gallery %}
  <div class="{{ bem_classes(base_class, hero_gallery.element, hero_gallery_modifiers, hero_gallery.extra) }} js-gallery js-slick-gallery">
    {% for image in hero_gallery %}
      <div class="{{ bem_classes(base_class, 'item') }}">
        {% include "@atoms/buttons/button.twig" with {
          "button": {
            "url": Image(image).src|resize(auto, 900),
            "text": "Enlarge Gallery",
            "modifiers": ["secondary", "enlarge"],
            "attributes": {
              "title": Image(image).caption
            }
          }
        } %}
        <style>
          .o-background-image--{{ Image(image).id }} {
            background-image: url('{{ Image(image).src|resize(500) }}');
          }
          @media(min-width: 500px) {
            .o-background-image--{{ Image(image).id }} {
              background-image: url('{{ Image(image).src|resize(720) }}');
            }
          }
          @media(min-width: 720px) {
            .o-background-image--{{ Image(image).id }} {
              background-image: url('{{ Image(image).src|resize(960) }}');
            }
          }
          @media(min-width: 960px) {
            .o-background-image--{{ Image(image).id }} {
              background-image: url('{{ Image(image).src|resize(1200) }}');
            }
          }
          @media(min-width: 1200px) {
            .o-background-image--{{ Image(image).id }} {
              background-image: url('{{ Image(image).src|resize(1600) }}');
            }
          }
        </style>
        <div class="{{ bem_classes(base_class, 'image') }} o-background-image--{{ Image(image).id }}"></div>
      </div>
    {% endfor %}
  </div>
{% endif %}

