{% if block_video %}
  {% set block_video_base_class = block_video.base_class|default('c-block-video') %}

  <a href="{{ block_video.link }}" class="{{ bem_classes(block_video_base_class, block_video.element, block_video.modifiers, block_video.extra) }}">
    {% if block_video.figure.image.src %}
      <div class="{{ bem_classes(block_video_base_class, 'image') }}">
        <div class="{{ bem_classes(block_video_base_class, 'media') }}">
          {% include "@atoms/images/image/figure.twig" with block_video %}
          {% include "@atoms/images/icons/icon.twig" with block_video %}
        </div>
      </div>
    {% endif %}
    <div class="{{ bem_classes(block_video_base_class, 'content') }}">
      {% include "@atoms/text/heading/heading.twig" with block_video %}
    </div>
  </a>
{% endif %}
