{% set block_person_base_class = block_person.base_class|default('c-block-person') %}

{% if block_person %}
  <div class="{{ bem_classes(block_person_base_class) }} u-spacing">
    {% if block_person.figure.image.src %}
      <div class="{{ bem_classes(block_person_base_class, 'image') }}">
        {% include "@atoms/images/image/figure.twig" with block_person %}
      </div>
    {% endif %}
    <div class="{{ bem_classes(block_person_base_class, 'content') }}">
      {% if block_person.heading.text %}
        <div class="{{ bem_classes(block_person_base_class, 'heading') }}">
          {% include "@atoms/text/heading/heading.twig" with block_person %}
        </div>
      {% endif %}
      {% if block_person.dek.text %}
        <div class="{{ bem_classes(block_person_base_class, 'position-title') }}">
          {% include "@atoms/text/dek/dek.twig" with block_person %}
        </div>
      {% endif %}
      {% if block_person.social_links %}
        <div class="{{ bem_classes(block_person_base_class, 'social-links') }} u-space--half--top">
          {% for link in block_person.social_links %}
            {% include "@atoms/links/link.twig" with link %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
